.blink {
    animation: blinker 1s linear infinite;
    color: red;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.result {
    border-radius: 12px;
    padding: 3px 10px;
    line-height: 26px;
    font-weight: 700;
    position: relative;

    &.connected {
        background-color: green;
    }

    &.disconnected {
        background-color: red;
    }

    &.offline {
        background-color: rgb(233, 151, 0);
    }

    &.logout {
        background-color: #9b0101;
    }
}