.container-bg {
    background: url("/assets/images/dark-material-bg.jpg") 0 0/cover no-repeat;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.logo {
    margin-bottom: 32px;
}

.title {
    font-size: 24px !important;
    font-weight: 300;
    line-height: 1;
}

.suffix_icon_collor {
    color: rgba(0,0,0,.54)
}

.show-form {
    opacity: 0 !important;
}

::ng-deep.mat-form-field {
    padding: 0;
}

::ng-deep.mat-form-field-wrapper {
    height: 48px;
    padding: 0 unset;
}

::ng-deep.mat-form-field-subscript-wrapper {
    padding-top: 5px !important;
}