<div class="forget-password" fxLayout="row wrap" fxLayoutAlign="center center" fxFlexAlign="center">

    <mat-card fxLayout="row wrap" class="mat-elevation-z6" style="margin: 62px 0 5px 0; padding: 36px; width: 500px; background: #1a3581; color: white !important;">
        <div fxFlex="100" fxLayoutAlign="center center">
            <img src="/assets/images/logo2x.png" alt="image" class="logo">
        </div>
        <form [formGroup]="forgotForm">
            <div fxLayout="row wrap" fxLayoutAlign="center center">

                <mat-form-field fxFlex="90" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput required #inputUsername formControlName="username" name="username" autocomplete="off"
                        placeholder="Username">
                    <mat-error
                        *ngIf="forgotForm.controls.username.hasError('required') && forgotForm.controls.username.touched">
                        Username is required.</mat-error>
                    <mat-error *ngIf="authError">{{authError}}</mat-error>
                </mat-form-field>

                <div fxFlex="100">
                    <re-captcha style="margin:0 auto;" (captchaResponse)="captchaResponse($event)" [site_key]="googleSiteKey"></re-captcha>
                </div>


                <div fxFlex="100"></div>
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
                    <div style="margin-top: 20px;" fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="20px">
                        <button type="button"mat-raised-button color="accent" routerLink="/reset-password">
                            <span>Already have Code</span>
                        </button>

                        <button type="button"mat-raised-button color="accent" routerLink="/login">
                            <span>Sign In</span>
                        </button>

                        <button type="button" style="margin-top: 20px;" [disabled]="!forgotForm.valid || btnDisable"
                            mat-raised-button color="primary" (click)="onForgot()">
                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                                <span>Request Code</span>
                                <mat-spinner *ngIf="btnDisable" color="accent" diameter="20" strokeWidth="3"></mat-spinner>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</div>