<div class="reset" fxLayout="row wrap" fxLayoutAlign="center center" fxFlexAlign="center">
    <div fxFlex="100" style="height: 100px;" fxHide fxShow.gt-md></div>
    <div fxFlex="100" style="height: 50px;" fxHide.gt-md fxShow></div>

    <mat-card fxLayout="row wrap" class="mat-elevation-z6" style="margin: 62px 0 5px 0; padding: 36px; width: 500px; background: #1a3581; color: white !important;">
        <div fxFlex="100" fxLayoutAlign="center center">
            <img src="/assets/images/logo2x.png" alt="image" class="logo">
        </div>
        <form [formGroup]="resetForm">
            <div fxLayout="row wrap" fxLayoutAlign="center center">

                <mat-form-field fxFlex="90" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput #inputEmail formControlName="username" name="username" placeholder="Username">
                    <mat-error
                        *ngIf="resetForm.controls.username.hasError('required') && resetForm.controls.username.touched">
                        Username is required</mat-error>
                    <mat-error *ngIf="emailError">{{emailError}}</mat-error>
                    <mat-error *ngIf="authError">{{authError}}</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="90" appearance="outline">
                    <mat-label>Reset Code</mat-label>
                    <input matInput #inputCode formControlName="code" name="code" placeholder="Reset Code">
                    <mat-error *ngIf="resetForm.controls.code.hasError('required') && resetForm.controls.code.touched">
                        Reset
                        code is required.</mat-error>
                    <mat-error *ngIf="resetForm.controls.code.hasError('minlength') && resetForm.controls.code.touched">
                        Minimum reset code length is 4.</mat-error>
                    <mat-error *ngIf="codeError">{{codeError}}</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="90" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput #inputPassword formControlName="password" name="password" [type]="hidePassword ? 'password' : 'text'"
                        placeholder="Password">
                        <mat-hint>Password must contain atleast one number, uppercase & lowercase</mat-hint>
                    <button mat-icon-button
                        type="button"
                        matSuffix 
                        (click)="hidePassword = !hidePassword" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="'hide'">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="resetForm.controls.password.hasError('required') && resetForm.controls.password.touched">
                        Password is required.</mat-error>
                    <mat-error
                        *ngIf="resetForm.controls.password.hasError('minlength') && resetForm.controls.password.touched">
                        Minimum password length is 6.</mat-error>
                </mat-form-field>

                <!-- <mat-form-field fxFlex="90" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" name="confirmPassword" type="password"
                        placeholder="Confirm Password" validateEqual="resetForm.controls.password">
                    <mat-error
                        *ngIf="resetForm.controls.confirmPassword.hasError('required') && resetForm.controls.confirmPassword.touched">
                        Confirm password is required.</mat-error>
                    <mat-error *ngIf="resetForm.controls.confirmPassword != resetForm.controls.password">Passwords do
                        not
                        match.</mat-error>
                </mat-form-field> -->

                <div fxFlex="100">
                    <re-captcha style="margin:0 auto;" (captchaResponse)="captchaResponse($event)" [site_key]="googleSiteKey"></re-captcha>
                </div>

                <div fxFlex="90" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row wrap" fxLayoutGap="10px">
                        <button type="button" mat-raised-button color="accent" routerLink="/forgot-password">
                            <span>Resend code</span>
                        </button>
                        <button type="button" mat-raised-button color="accent" routerLink="/login">
                            <span>Sign in</span>
                        </button>
                    </div>
                    <button type="button" (click)="onReset()"
                        [disabled]="resetForm.controls.password.invalid || btnDisable"
                        mat-raised-button color="primary" style="margin-bottom: 20px; margin-top: 20px;">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                            <span>Submit</span>
                            <mat-spinner *ngIf="btnDisable" color="accent" diameter="20" strokeWidth="3"></mat-spinner>
                        </div>
                    </button>
                </div>
            </div>
        </form>
    </mat-card>
    <div fxFlex="100" style="height: 100px;" fxHide fxShow.gt-md></div>
    <div fxFlex="100" style="height: 50px;" fxHide.gt-md fxShow></div>
</div>